/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --accent-color: #ff0070;
  --bg-text-color: #ff0070;
  --section-title-color: #ff0070;
  --font-title-color: #db00ff;
  --text-color: #000028;
  --font-color: #f1b2ce;
  --decorated-zone-color: #ff0070;
}

:root.theme-dark .rec {
  display: inline;
}
