/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
	/* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
	background-color: var(--bg-color);
	background-image: var(--bg-image);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: var(--fo-family);
	color: var(--fo-color);
}
/* Шапка */
.header {
	position: relative;
	padding: 0 10px;
	display: grid;
	grid-template-columns: 1fr min-content;
	grid-template-rows: repeat(3, 1fr);
	min-inline-size: 375px;
	min-block-size: 668px;
	block-size: 100vw;
}
.header_footer-title {
	font-size: var(--fo-title-size-mobile);
	font-weight: var(--fo-weight-bold);
	line-height: 83%;
	color: var(--fo-title-color);
	text-shadow: 4px 4px 0 var(--accent-color);
}
.header-title {
	grid-column: 1;
	grid-row: 2;
	justify-self: start;
	align-self: start;
	font-family: var(--fo-family);
}
.header-text {
	grid-column: 1 / 3;
	grid-row: 3;
	justify-self: end;
	align-self: start;
	max-inline-size: 355px;
	inline-size: 100%;
	padding-inline-end: 10px;
	background-color: var(--bg-text-color);
	font-size: 18px;
	color: var(--text-color);
	font-weight: var(--fo-weight-bold);
}

.header__theme-menu {
	grid-row: 1;
	align-self: start;
	justify-self: end;
	font-size: 18px;
	line-height: 18px;
	margin-top: 0;
	padding-top: 40px;
	padding-right: 10px;
}

.header__theme-menu-button {
	margin-block-start: 13px;
	background: transparent;
	text-transform: lowercase;
	color: var(--section-title-color);
	border: 1px solid transparent;
	cursor: pointer;
}
.header__theme-menu-button:hover {
	border-color: var(--section-title-color);
}
.header__theme-menu-button_active {
	border-color: var(--section-title-color);
}
.header__theme-menu-button:focus {
	outline: none;
}
.header__theme-menu-button:focus-visible {
	border-bottom: 1px solid var(--section-title-color);
}
.rec {
	position: absolute;
	top: 10px;
	right: 20px;
	display: none;
	color: var(--accent-color);
	font-weight: var(--fo-weight-regular);
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
}
.rec::after {
	content: '';
	display: inline-block;
	inline-size: 9px;
	block-size: 9px;
	border-radius: 50%;
	margin-inline-start: 5px;
	background: var(--accent-color);
	box-shadow: 0 0 6px var(--accent-color);
}

.decorated-zone::before,
.decorated-zone::after {
	content: '';
	position: absolute;
	display: block;
	inline-size: 25px;
	block-size: 25px;
}

.decorated-zone::before {
	grid-column: 2;
	border-top: 1px solid var(--accent-color);
	border-right: 1px solid var(--accent-color);
	top: 10px;
	right: 10px;
}

.decorated-zone::after {
	border-bottom: 1px solid var(--accent-color);
	border-left: 1px solid var(--accent-color);
	bottom: 10px;
	left: 10px;
}

/* Основная часть */
.content {
	padding: 40px 10px;
}
.article {
	display: block;
}
.section-title {
	color: var(--section-title-color);
	line-height: 24px;
	margin-block-end: 20px;
	margin-block-start: 50px;
}
.content > section:first-of-type .section-title {
	margin-block-start: 0;
}
.text-heading {
	background-color: var(--bg-text-color);
	color: var(--text-color);
	margin-block-start: 20px;
	margin-block-end: 10px;
}
.paragraph_text a {
	text-decoration: none;
	text-shadow: 2px 2px 0 var(--accent-color);
}
.paragraph_text a:hover {
	text-decoration: underline;
}
.paragraph_text a:focus {
	outline: none;
}
.paragraph_text a:focus-visible {
	border-bottom: 1px solid var(--section-title-color);
}
.concentrate_better-section-heading {
	font-weight: var(--fo-weight-regular);
}

.concentrate_better-section.double_heading {
	font-weight: var(--fo-weight-bold);
}
.images-section {
	position: relative;
	display: grid;
	grid-template-columns: auto-fit;
	gap: 10px;
}
.picture-section {
	width: 100%;
	display: block;
	object-fit: cover;
}

/* Подвал */
.footer {
	position: relative;
	display: grid;
	inline-size: 100%;
	min-inline-size: 375px;
	block-size: 100vh;
	min-block-size: 668px;
}
.footer-title {
	text-shadow: none;
	align-self: center;
	justify-self: center;
	font-size: var(--fo-title-size-mobile);
}

/* Адаптация */

/* Для планшетов */
@media (1024px >width >= 768px) {
	/* Шапка */
	.header {
		padding: 0 20px;
		min-inline-size: 768px;
		min-block-size: 1024px;
	}
	.header-title {
		font-size: var(--fo-title-size-mobile);
		align-self: center;
		justify-self: start;
	}
	.header-text {
		max-inline-size: 368px;
		inline-size: 100%;
	}
	.header__theme-menu {
		align-self: center;
		justify-self: end;
	}
	.rec {
		top: 20px;
		right: 30px;
	}
	.decorated-zone::after {
		bottom: 20px;
		left: 20px;
	}
	.decorated-zone::before {
		top: 20px;
		right: 20px;
	}
	/* Основная часть */
	.content {
		padding: 60px 20px;
	}
	.article {
		display: grid;
		grid-template-columns: min-content 1fr;
		gap: 40px;
		margin-block-end: 20px;
		margin-block-start: 80px;
		align-items: start;
	}
	.section-title {
		grid-column: 1;
	}
	.content-text {
		grid-column: 2;
		padding-inline-start: 0;
	}
	.content > .article:first-of-type {
		margin-block-start: 0;
	}

	.concentrate-section {
		display: grid;
		grid-template-columns: min-content 1fr;
		grid-template-rows: min-content 1fr;
    gap: 0;
	}
	.concentrate-section .section-title {
		margin-block-end: 10px;
    grid-row: 1;
	}
	.concentrate-section .content-text {
    margin-block-start: 0;
		grid-column: 1 / 3;
		grid-row: 2;
	}
	.section-title {
		align-self: start;
	}
	.text-heading {
		margin-block-start: 10px;
		margin-block-end: 10px;
		align-self: start;
	}
	.images-section {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto auto auto;
		gap: 16px;
	}
	.images-section .images-heading {
		grid-column: 1 / -1;
	}
	.images-section .picture-section:nth-of-type(1) {
		grid-column: 1 / 3;
		grid-row: 2;
	}
	.images-section .picture-section:nth-of-type(2) {
		grid-column: 3;
		grid-row: 2 / 4;
		inline-size: 100%;
		block-size: 100%;
		object-fit: cover;
	}
	.images-section .picture-section:nth-of-type(3) {
		grid-column: 1;
		grid-row: 3 / 5;
		inline-size: 100%;
		block-size: 100%;
		object-fit: cover;
	}
	.images-section .picture-section:nth-of-type(4) {
		grid-column: 2;
		grid-row: 3;
	}
	.images-section .picture-section:nth-of-type(5) {
		grid-column: 2 / 4;
		grid-row: 4;
	}
	/* Подвал */
	.footer-title {
		font-size: var(--fo-title-size-mobile);
	}
}
/* Для ноутбуков */
@media (width >= 1024px) {
  /* Шапка */
	.header {
		padding: 0 20px;
		min-inline-size: 1024px;
		max-block-size: 768px;
	}
	.header-title {
		font-size: var(--fo-title-size-desktop);
		align-self: start;
		justify-self: start;
	}
	.header-text {
		max-inline-size: 491px;
		inline-size: 100%;
    padding-inline-end: 0;
	}
	.header__theme-menu {
    padding-block-start: 20px;
		align-self: start;
		justify-self: center;
	}
  .header__theme-menu-list{
    display: grid;
    grid-auto-flow: column;
    column-gap: 36px;
  }
	.rec {
		top: 20px;
		right: 30px;
	}
	.decorated-zone::after {
		bottom: 20px;
		left: 20px;
	}
	.decorated-zone::before {
		top: 20px;
		right: 20px;
	}
  /* Основная часть */
  .content {
		padding: 60px 20px;
	}
	.article {
		display: grid;
		grid-template-columns: 0.5fr 1fr;
		gap: 40px;
		margin-block-end: 20px;
		margin-block-start: 80px;
		align-items: start;
	}
	.section-title {
		grid-column: 1;
	}
	.content-text {
		grid-column: 2;
		padding-inline-start: 0;
	}
	.content > .article:first-of-type {
		margin-block-start: 0;
	}

	.concentrate-section {
		display: grid;
		grid-template-columns: 0.5fr 1fr;
		grid-template-rows: min-content 1fr;
    gap: 0;
	}
	.concentrate-section .section-title {
		margin-block-end: 10px;
    grid-row: 1;
	}
	.concentrate-section .content-text {
    margin-block-start: 0;
		grid-column: 1 / 3;
		grid-row: 2;
	}
	.section-title {
		align-self: start;
	}
	.text-heading {
		margin-block-start: 10px;
		margin-block-end: 10px;
		align-self: start;
	}
	.images-section {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto auto auto;
		gap: 16px;
	}
	.images-section .images-heading {
		grid-column: 1 / -1;
	}
	.images-section .picture-section:nth-of-type(1) {
		grid-column: 1 / 3;
		grid-row: 2;
	}
	.images-section .picture-section:nth-of-type(2) {
		grid-column: 3;
		grid-row: 2 / 4;
		inline-size: 100%;
		block-size: 100%;
		object-fit: cover;
	}
	.images-section .picture-section:nth-of-type(3) {
		grid-column: 1;
		grid-row: 3 / 5;
		inline-size: 100%;
		block-size: 100%;
		object-fit: cover;
	}
	.images-section .picture-section:nth-of-type(4) {
		grid-column: 2;
		grid-row: 3;
	}
	.images-section .picture-section:nth-of-type(5) {
		grid-column: 2 / 4;
		grid-row: 4;
	}
  /* Подвал */
  .footer{
    font-size: var(--fo-title-size-desktop);
  }
}
