/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--font-family), sans-serif;
  color: var(--font-color);
}
/* Шапка */
.header {
  padding: 0 10px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  min-inline-size: 375px;
  min-block-size: 668px;
  block-size: 100vw;
}
.header__main-heading {
  font-size: var(--font-title-size-mobile);
  font-weight: var(--font-weight-bold);
  line-height: 83%;
  color: var(--font-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}
.header-title {
  grid-column: 1 / 3;
  grid-row: 2;
  justify-self: start;
  align-self: center;
  font-family: var(--font-family), sans-serif;
}
.header-text {
  grid-column: 1 / 3;
  grid-row: 3;
  justify-self: start;
  align-self: start;
  max-inline-size: 355px;
  margin-block-start: 45px;
  inline-size: 100%;
  background-color: var(--bg-text-color);
  font-size: 18px;
  color: var(--text-color);
  font-weight: var(--font-weight-bold);
  line-height: 23.4px;
}

.header__theme-menu {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  justify-self: end;
  font-size: 18px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  background: transparent;
  text-transform: lowercase;
  color: var(--section-title-color);
  border: 1px solid transparent;
  cursor: pointer;
  padding: 4px 12px;
  line-height: 1;
}
.header__theme-menu-button:hover {
  border-color: var(--hover-menu-color);
}
.header__theme-menu-button_active {
  border-color: var(--section-title-color);
}
.header__theme-menu-button:focus {
  outline: none;
}
.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--section-title-color);
}
.rec {
  position: absolute;
  top: 10px;
  inset-inline-end: 20px;
  color: var(--accent-color);
  font-weight: var(--font-weight-regular);
  font-size: 18px;
  text-transform: uppercase;
}
.rec::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  margin-inline-start: 5px;
  background: var(--accent-color);
  box-shadow: 0 0 1px var(--accent-color);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  display: block;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-top: 1px solid var(--decorated-zone-color);
  border-inline-end: 1px solid var(--decorated-zone-color);
  top: 10px;
  inset-inline-end: 10px;
}

.decorated-zone::after {
  border-bottom: 1px solid var(--decorated-zone-color);
  border-inline-start: 1px solid var(--decorated-zone-color);
  bottom: 10px;
  inset-inline-start: 10px;
}

/* Основная часть */
.content {
  padding: 40px 10px;
}
.article {
  margin-block-start: 50px;
}
.content-section > .article:first-child {
  margin-block-start: 0;
}

.section-title {
  color: var(--section-title-color);
  font-size: 18px;
  line-height: 24px;
  margin-block-end: 20px;
}

.text-heading {
  line-height: 23.4px;
  margin-block-end: 10px;
  margin-block-start: 20px;
}
.focus-section_intro .text-heading:first-of-type {
  margin-block-start: 0;
}
.concentrate_better-section-heading_offset {
  margin-block-start: 20px;
}

.content-paragraph:not(:last-child) {
  margin-block-end: 20px;
}
.section-content {
  background-color: var(--bg-text-color);
  color: var(--text-color);
  line-height: 23.4px;
  font-size: 18px;
  font-weight: var(--font-weight-bold);
}

.paragraph_text {
  font-size: 18px;
  font-weight: var(--font-weight-regular);
  line-height: 23.4px;
}

.paragraph_text a {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  border-bottom: 1px solid transparent;
  display: inline-block;
}
.paragraph_text a:hover {
  border-bottom: 1px solid var(--section-title-color);
}
.paragraph_text a:focus {
  outline: none;
}
.paragraph_text a:focus-visible {
  border-bottom: 1px solid var(--section-title-color);
}
.concentrate_better-section .section-content {
  font-weight: var(--font-weight-regular);
}
.concentrate_better-section .concentrate_better-section__intro-heading {
  font-weight: var(--font-weight-bold);
}

.images-section {
  position: relative;
  display: grid;
  gap: 10px;
}
.picture-section {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* Подвал */
.footer {
  position: relative;
  display: grid;
  inline-size: 100%;
  min-inline-size: 375px;
  block-size: 100vh;
  max-block-size: 668px;
}
.footer-title {
  text-shadow: none;
  align-self: center;
  justify-self: center;
}
.footer__main-heading {
  font-size: var(--font-title-size-mobile);
  font-weight: var(--font-weight-bold);
  line-height: 83%;
  color: var(--font-title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* Адаптация */

/* Общие стили для планшетов и десктопов */
@media (width >= 768px) {
  .header {
    padding: 0;
    min-inline-size: 768px;
    block-size: 1024px;
  }
  .header-title {
    align-self: center;
  }
  .header-text {
    grid-column: 2;
    max-inline-size: 368px;
    padding-inline-end: 20px;
  }
  .header__theme-menu {
    grid-column: 1 / 3;
    align-self: end;
    margin-inline-end: 20px;
    margin-block-end: 35px;
  }
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }
  .rec {
    top: 20px;
    inset-inline-end: 30px;
  }
  .decorated-zone::after {
    bottom: 20px;
    inset-inline-start: 20px;
  }
  .decorated-zone::before {
    top: 20px;
    inset-inline-end: 20px;
  }
  .content {
    padding: 60px 20px;
  }
  .article:not(:first-child) {
    margin-block-start: 60px;
  }

  .focus-section_intro {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 5px;
  }
  .focus-section_intro .section-title {
    grid-column: 1;
    margin-block-end: 0;
    margin-inline-end: 10px;
    align-self: start;
  }
  .focus-section_intro .content-text {
    grid-column: 2;
    margin-block-start: 0;
    justify-self: start;
    align-self: start;
  }

  .concentrate_better-section_tips {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 5px;
  }
  .concentrate_better-section_tips .section-title {
    grid-column: 1;
    margin-block-end: 0;
    margin-inline-end: 10px;
    align-self: start;
  }
  .concentrate_better-section_tips .content-text {
    grid-column: 2;
    margin-block-start: 0;
    justify-self: start;
    align-self: start;
  }

  .concentrate-section {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
  }
  .concentrate-section .content-text {
    margin-inline-start: 0;
    margin-block-end: 20px;
  }
  .concentrate-section .section-title {
    margin-block-end: 10px;
    grid-row: 1;
  }
  .concentrate-section .concentrate-section__content-text {
    grid-column: 1 / 3;
    grid-row: 2;
    align-self: start;
    justify-self: start;
  }
  .concentrate_better-section_tips .section-title {
    align-self: start;
  }
  .section-content {
    margin-block-start: 10px;
    margin-block-end: 10px;
    align-self: start;
  }
  .text-heading {
    margin-block-start: 0;
  }

  .concentrate-section_main
    .concentrate-section__item:nth-of-type(2)
    .concentrate_section-heading,
  .concentrate-section_main
    .concentrate-section__item:nth-of-type(3)
    .concentrate_section-heading {
    margin-block-start: 20px;
  }

  .images-section_gallery .images-heading {
    margin-block-start: 20px;
  }

  .images-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: 16px;
  }
  .images-section .images-heading {
    grid-column: 1 / -1;
  }
  .images-section__picture-sunset {
    grid-column: 1 / 3;
    grid-row: 2;
  }
  .images-section__picture-ice-cream {
    grid-column: 3;
    grid-row: 2 / 4;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }
  .images-section__picture-tape {
    grid-column: 1;
    grid-row: 3 / 5;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }
  .images-section__picture-books {
    grid-column: 2;
    grid-row: 3;
  }
  .images-section__picture-street {
    grid-column: 2 / 4;
    grid-row: 4;
  }
  .footer {
    min-block-size: 1024px;
  }
}

/* Стили для десктопов */
@media (width >= 1024px) {
  .header {
    min-inline-size: 1024px;
    block-size: 768px;
  }
  .header__main-heading {
    font-size: var(--font-title-size-desktop);
    grid-row: 2;
  }
  .header-title {
    align-self: center;
  }
  .header-text {
    max-inline-size: 491px;
    margin-block-end: 80px;
    margin-block-start: 20px;
    padding-inline-end: 0;
    align-self: center;
  }
  .header__theme-menu {
    padding-block-start: 20px;
    align-self: start;
    justify-self: center;
  }
  .header__theme-menu-list {
    display: grid;
    grid-auto-flow: column;
  }
  .content {
    padding: 80px 20px;
  }
  .concentrate-section {
    grid-template-columns: 0.5fr 1fr;
  }
  .concentrate-section .concentrate-section__content-text {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  .focus-section_intro .content-text,
  .concentrate_better-section_tips .content-text {
    margin-inline-start: 0;
    margin-block-start: 0;
  }
  .concentrate-section_main
    .concentrate-section__item:nth-of-type(2)
    .concentrate_section-heading,
  .concentrate-section_main
    .concentrate-section__item:nth-of-type(3)
    .concentrate_section-heading {
    margin-block-start: 0;
  }
  .footer__main-heading {
    font-size: var(--font-title-size-desktop);
  }
  .footer {
    block-size: 768px;
    min-block-size: 768px;
  }
}
@media (prefers-color-scheme: dark) {
  :root:not(.theme-light) .rec {
    display: inline;
  }
}
