/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
	--bg-image: url('../images/cover-image-dark.png');
	--fo-family: 'IBM Plex mono', sans-serif;
	--fo-color: #f1b2ce;
	--fo-weight-bold: 700;
  --fo-weight-regular: 400;
	--fo-title-color: #db00ff;
  --fo-title-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --fo-title-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); 
	--accent-color: #ff0070;
	--bg-text-color: #ff0070;
  --section-title-color: #ff0070;
	--text-color: #000028;
}
