/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url("../images/cover-image-dark.png");
  --font-family: "IBM Plex mono", sans-serif;
  --font-color: #f1b2ce;
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --font-title-color: #db00ff;
  --font-title-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-title-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --accent-color: #ff0070;
  --bg-text-color: #ff0070;
  --section-title-color: #ff0070;
  --text-color: #000028;
  --hover-menu-color: #ff007066;
  --decorated-zone-color: #ff0070;
}
